.intro {
  display: table;
  height: 100%;
  width: 100%;
  margin: auto;
  position: relative;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  min-height: 200px;
  align-items: center;
}

img {
  width: 100vw;
  height: 50vh;
  object-fit: cover;
}
.contain {
  position: relative;
  font-family: Arial;
}

.text-block {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100vw;

  background-color: rgba(52, 74, 78, 0.8);
  color: white;
}
p {
  font-size: 20px;
}
